// font size
$baseFontSize: 16px;

// font family
$montserratFont: 'Montserrat', sans-serif;

// COLORS
$blackColor: #000;
$brownDarkColor: #35312D;
$arrowInactiveColor: #202020;
$tomatoColor: #C62100;
$tomatoLightColor: #F16A50;
$brownLightColor: #F8F1EA;
$dotInactiveColor: #F8F1EA;
$darkDotInactiveColor: #CAC2BA;
$whiteColor: #fff;