.slick-arrow{
    width: 40px;
    height: 74px;
}
.slick-arrow.slick-prev, .slick-arrow.slick-next{
    background-size: 40px 74px;
}
.slick-dots{
    column-gap: 30px;
}
.slick-dots li button{
    width: 20px;
    height: 20px;
}