* {
    font-size: $baseFontSize;
    line-height: 1;
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}
*:before, *:after{box-sizing: border-box;}
:focus, :active, a:focus, a:active{outline: none;}
html {scroll-behavior: smooth;}
html,body{height: 100%; width: 100%;}
input, button, textarea{font-family: inherit;}
input::-ms-clear{display: none;}
a, button{cursor: pointer; color: inherit;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited, a:hover {text-decoration: none;}
ol li, ul li {list-style: none;}
img{vertical-align: top;}
.visually-hidden {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
}